html {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    /* font-family: Gelasio, serif; */
}

.btn {
    background: #1B75BB;
    border-radius: 5px;
    font-weight: 500;
    line-height: 160%;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
}

h2 {
    font-family: Gelasio, serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

/* HEADER */
header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
    font-family: Gelasio, serif;
}

.logo {}

.logo img {
    display: block;
}

.nav {
    padding-right: 18%;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.list-item {}

.item-link {
    font-weight: 500;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.7);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.active {
    color: #1B75BB;
}

@media screen and (max-width: 768px) {
    .nav {
        padding-right: 0px;
    }

    .logo img {
        max-width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .header-inner {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-item {
        margin: 26px 0px;
    }
}

/* FIRST SECTION */
.fs {
    background: url("../img/intro.jpg") center no-repeat;
    background-size: cover;
    min-height: 690px;
    padding-top: 214px;
    padding-bottom: 97px;
}

.top {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(27, 117, 187, 0.8);
    margin-bottom: 15px;
}

.fs-title {
    font-family: Gelasio, serif;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #081F32;
    margin-bottom: 25px;
    max-width: 456px;
}

.fs-title span {
    color: rgba(27, 117, 187, 1);
}

.fs-description {
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);
    margin-bottom: 34px;
    max-width: 347px;
}

@media screen and (max-width: 768px) {
    .fs {
        padding-top: 178px;
        padding-bottom: 90px;
        min-height: 630px;
    }

    /* .top {
        font-size: 20px;
    } */

    .fs-title {
        font-size: 47px;
    }

    .fs-description {
        font-size: 16px;
        max-width: 261px;
    }
}

/* @media screen and (max-width: 575px) {
    .fs {
        padding-top: 154px;
        padding-bottom: 86px;
        min-height: 500px;
    }

    .fs-title {
        font-size: 32px;
    }

    .fs-description {
        font-size: 16px;
    }
} */

@media screen and (max-width: 425px) {
    .fs {
        padding-top: 295px;
        padding-bottom: 166px;
    }

    .top {
        font-size: 18px;
    }

    .fs-title {
        font-size: 42px;
    }

    .fs-description {
        font-size: 16px;
        max-width: 271px;
    }
}

/* SEARCH */
.search {}

.relative {
    position: relative;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
/* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    padding: 24px 49px 24px 19px;
    position: absolute;
    left: -21px;
    top: -49px;
}

.info-inner {
    display: block;
    margin: 0 30px;
    position: relative;
}

.info-inner::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -30px;
    height: 34px;
    width: 2px;
    background: rgba(157, 172, 184, 0.4);
}

.info-inner:first-child::after {
    display: none;
}

.info-title {
    font-weight: 500;
    line-height: 160%;
    color: #081F32;
    margin-bottom: 12px;
}

.info-dsp {
    line-height: 160%;
    color: rgba(8, 31, 50, 0.8);
}

.info-border {
    border-right: 2px solid rgba(157, 172, 184, 0.4);
}

.info a {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
   .info {
    position: static;
    margin: -49px auto 0px auto;
   }
}

@media screen and (max-width: 425px) {
    .info {
        flex-wrap: wrap;
    }

    .info-inner {
        margin: 5px 30px;
    }

    .info-inner::after {
        display: none;
    }
 
    .info-title {
        margin-bottom: 3px;
    }

    .info-dsp {
        margin-bottom: 9px;
    }
 }

/* PRESENTATION */
.presentation {
    padding: 258px 0 140px 0;
}

.container--big {
    max-width: 1245px;
}

.presentation-inner {
    display: flex;
}

.pictures {
    width: 51.9%;
    position: relative;
}

.pictures::before {
    content: '';
    position: absolute;
    left: -86px;
    bottom: -80px;
    height: 228px;
    width: 228px;
    background: url(../img/ripples.png) center no-repeat;
    background-size: cover;
}

/* .pictures-inner {
    position: relative;
} */

/* .pictures-inner::before {
    content: '';
    position: absolute;
    left: -86px;
    bottom: -80px;
    height: 228px;
    width: 228px;
    background: url(../img/ripples.png) center no-repeat;
    background-size: cover;
} */

.bell {
    display: block;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}

.hands {
    position: absolute;
    top: -57px;
    right: -57px;
    z-index: 1;
    opacity: 0.5;
    border-radius: 10px;
}

.txt {
    width: 48.1%;
    padding-left: 155px;
}

.txt h2 {
    margin-bottom: 33px;
}

@media screen and (max-width: 768px) {
    .presentation {
        padding: 180px 0 140px 0;
    }

    .pictures::before {
        bottom: -27px;
        height: 60%;
        width: 60%;
    }

    .bell {
        top: 46px;
    }

    .hands {
        top: -18px;
    }

    h2 {
        font-size: 28px;
    }

    .txt {
        padding-left: 130px;
    }
 }

 @media screen and (max-width: 425px) {
    .presentation {
        padding: 180px 0 140px 0;
    }

    .presentation-inner {
        flex-wrap: wrap;
    }

    .pictures {
        width: 100%;
    }

    .bell {
        top: 0;
    }

    .hands {
        top: -38px;
        right: -15px;
    }

    .pictures::before {
        display: none;
    }

    .txt {
        width: 100%;
        padding: 50px 0;
    }
 }